# Dependencies & Environments
node_modules/
__pycache__/
*.py[cod]
*.class
.pytest_cache/
.venv/
env/
venv/

# Environment Variables & Databases
.env
*.db
*.sqlite3

# OS & Logs
.DS_Store
dist/
*.log

# Local environment secret keys
.env
.env.local

# ML artifacts (still ignore these; HF or Docker will handle them)
artifacts/
VariSetu/