# Dependencies & Environments
node_modules/
__pycache__/
*.py[cod]
*.class
.pytest_cache/
.venv/
env/
venv/

# Environment Variables & Databases
.env
*.db
*.sqlite3

# OS & Logs
.DS_Store
dist/
*.log
